body {
    background-color: rgb(253, 240, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h1 {
    text-align: center;
    color: rgb(247, 53, 247);
}

form {
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    min-width: 300px;
    width: 80%;

}

.personaContacto, .datosPersonales{
    border-bottom: rgb(185, 185, 185) 1px solid;
    margin: 1em;
}

.datosContacto{

    
}




